@import 'nib'

@import '../includes/helpers.styl'

@import './sections/course-edit/style.styl'
@import './sections/mts-settings/style.styl'

body.dashboard_page_mts_settings
	mts-settings-page-style()

#unlock_course_time
	unlock-time-block-style()