fixed-footer-style()
	width 100%
	z-index 10000000
	fixed bottom -1px left 0
	background-color $color-header

	ul
		padding 10px 0 7px 0
		flex-inline()

		li
			margin auto
			text-align center

			&.open
				.fa, p
					color $color-azul

			.fa, p
				color #FFF
				display block

			.fa
				font-size 25px

		#messages-header-toggler
			position relative

			.circle
				width 15px
				height 15px
				border-radius 10px
				absolute top 0px right 0px
				background-color $color-todo-done

				span
					color #FFF
					font-size 12px
					absolute top 47% left 48%
					transform translate(-50%,-50%)
