<div id="modal-congrat" class="out">
	<canvas id="canvas"></canvas>
	<div class="content">
		<img src="http://192.168.1.42/Proyectos/mytinysecrets-sharethelove/wp-content/themes/social-learner/images/todo_congrat.png" />
		<h2>You Really Did it!</h2>
		<h4>You are A W E S O M E</h4>
		<button type="button">Continue</button>
	</div>
</div>