<li data-sender="{{ sender_id }}" class="{{#ifCondInt sender_id user_id}}self{{/ifCondInt}}{{#if response}} self{{/if}}">
	<div class="avatar">{{{avatar}}}</div>
	<div class="content">{{{ message }}}</div>
</li>
