<div class="chat-header">
	<i class="fa fa-angle-double-left go-back" aria-hidden="true"></i>
	<strong class="name">{{{ data.sender }}}</strong>

	{{#unless this.new }}
		<i class="fa fa-trash-o remove-chat" aria-hidden="true"></i>
	{{/unless}}
</div>
