finished-course-page()
	article.course
		margin-bottom 0 !important
		padding-bottom 0 !important

	.header-course
		transition padding-right $css-transition-time

		&.sidebar-open
			sidebar-open-style()

	.video-iframe .wistia_embed
		height 100%

	.entry-content
		position relative
		padding 65px 65px 65px 165px

		h1
			margin-top 0
			font-size 38px
			margin-bottom 24px

		@media(max-width 700px)
			padding 65px 30px

			h1
				margin-left 80px

		.icon
			width 80px
			height 80px
			flex-vertical()
			border-radius 40px
			border 1px solid $color-gris
			absolute top 55px left 45px

			.fa
				font-size 28px

			@media(max-width 700px)
				top 65px
				left 30px
				width 60px
				height 60px
				border-radius 30px

				.fa
					font-size 18px

		p
			font-size 18px
