<li data-order="{{ this.order }}">
	<input type="text" class="image_desc" placeholder="Image Description">

	<div class="left-inputs">
		<div class="image">
			<button class="image_item">Add Image</button>
			<div class="img_wrapper selected_image"></div>
		</div>

		<div class="audio">
			<button class="add_audio">Add Audio</button>
			<div class="audio_wrapper">
				<audio class="selected_audio" controls>
					<source src="">
				</audio>
			</div>
		</div>
	</div>

	<div class="right-actions">
		<a href="#" class="order">Change Order</a>
		<a href="#" class="remove">Remove Item</a>
	</div>
</li>