normal-todo-style()
	h3
		font-size 22px
		text-align center
		margin 0 0 30px 0

	.top_form
		flex-inline()

		input
			margin auto

	.intro, .content, .outro
		text-align center

		.trumbowyg-box
			text-align initial

		h5
			font-size 18px
			padding-top 15px
			text-align center
			border-top 1px solid $color-gris-claro

		label
			display block
			text-align center
			margin-bottom 15px

		.image
			flex-inline()

			img, button
				margin auto

			img
				max-height 130px

		.intro_video, .task_video, .outro_video, .intro_title, .task_title
			width 20%
			margin-top 15px
