youtube-modal-style()
	.modal-body
		position relative
		
		.video-description
			width 100.1%
			padding 10px 0
			text-align center
			absolute bottom 0 left 0
			background-color $color-gris-claro
			
			p
				color #000
				font-size 18px

	.modal-footer
		text-align center

		button
			margin-top 15px
			background-color $color-todo-done
