<div class="modal-overlay youtube">
	<p class="close-modal">x</p>
	<div class="modal-content">
		<div class="modal-body">
			<div class="video-iframe" id="youtube-video"></div>
			<div class="video-description">
				<p>Hey boo, you have done the last ToDo a moment ago,</p>
				<p>just chill 5 minutes and enjoy a cool video from our YouTube Channel</p>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="mark-as-done">Ok, Got It</button>
		</div>
	</div>
</div>